{% extends 'base.html.twig' %}

{% block title %}{{ 'welcome.title'|trans }} - B2B Shop{% endblock %}

{% block body %}

    <section id="billboard" class="position-relative d-flex align-items-center py-5 bg-light-gray"
             style="background-image: url({% if bannerImage %}{{ asset('uploads/banners/' ~ bannerImage) }}{% else %}images/banner-image-bg.jpg{% endif %}); background-size: cover; background-repeat: no-repeat; background-position: center; height: 800px;">
        <div class="position-absolute end-0 pe-0 pe-xxl-5 me-0 me-xxl-5 swiper-next main-slider-button-next">
            <svg class="chevron-forward-circle d-flex justify-content-center align-items-center p-2" width="80"
                 height="80">
                <use xlink:href="#alt-arrow-right-outline"></use>
            </svg>
        </div>
        <div class="position-absolute start-0 ps-0 ps-xxl-5 ms-0 ms-xxl-5 swiper-prev main-slider-button-prev">
            <svg class="chevron-back-circle d-flex justify-content-center align-items-center p-2" width="80"
                 height="80">
                <use xlink:href="#alt-arrow-left-outline"></use>
            </svg>
        </div>
        <div class="swiper main-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-5">
                                <div class="banner-content">
                                    <h1 class="display-5 text-uppercase text-dark pb-5">{{ 'welcome.title'|trans }}</h1>
                                    <a href="{{ path('product_list') }}"
                                       class="btn btn-primary-big mt-3">{{ 'welcome.view_products'|trans }}</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="image-holder">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if is_granted('ROLE_CLIENT') %}
        <section id="best-selling-items" class="position-relative padding-large">
            <div class="container">
                <div class="section-title d-md-flex justify-content-between align-items-center mb-4">
                    <h3 class="d-flex align-items-center">{{ 'featured_products.title'|trans }}</h3>
                    <a href="{{ path('product_list') }}"
                       class="btn btn-primary-big ">{{ 'featured_products.view_all'|trans|default('Zobacz wszystkie') }}</a>
                </div>
                <div
                    class="position-absolute top-50 end-0 pe-0 pe-xxl-5 me-0 me-xxl-5 swiper-next product-slider-button-next">
                    <svg class="chevron-forward-circle d-flex justify-content-center align-items-center p-2" width="80"
                         height="80">
                        <use xlink:href="#alt-arrow-right-outline"></use>
                    </svg>
                </div>
                <div
                    class="position-absolute top-50 start-0 ps-0 ps-xxl-5 ms-0 ms-xxl-5 swiper-prev product-slider-button-prev">
                    <svg class="chevron-back-circle d-flex justify-content-center align-items-center p-2" width="80"
                         height="80">
                        <use xlink:href="#alt-arrow-left-outline"></use>
                    </svg>
                </div>
                <div class="swiper product-swiper">
                    <div class="swiper-wrapper">
                        {% for product in featuredProducts %}
                            <div class="swiper-slide">
                                <div class="card position-relative p-4 border rounded-3">
                                    {% if product.imageFilename %}
                                        <div class="product-image-container">
                                            <img src="{{ asset(product_thumbnail_or_image(product.imageFilename, 'small', product.id)) }}"
                                                 class="img-fluid shadow-sm" alt="{{ product.name }}">
                                        </div>
                                    {% else %}
                                        <div class="product-image-container">
                                            <i class="bi bi-image text-secondary" style="font-size: 3rem;"></i>
                                        </div>
                                    {% endif %}
                                    <h6 class="mt-4 mb-0 fw-bold"><a
                                            href="{{ path('product_show', {'id': product.id}) }}">{{ product.name }}</a>
                                    </h6>
                                    <div class="review-content d-flex">
                                    </div>
                                    <span class="price text-primary fw-bold mb-2 fs-5">
                                        {% if app.user %}
                                            {{ app.user.clientPrices.filter(p => p.product.id == product.id).first ? app.user.clientPrices.filter(p => p.product.id == product.id).first.price : product.basePrice }}{{ currency() }}
                                        {% else %}
                                            {{ product.basePrice }}{{ currency() }}
                                        {% endif %}
                                    </span>
                                    <div class="card-concern position-absolute start-0 end-0 d-flex gap-2">
                                        <a href="{{ path('product_show', {'id': product.id}) }}"
                                           class="btn btn-primary-big  btn-dark" data-bs-toggle="tooltip"
                                           data-bs-placement="top" data-bs-title="Zobacz szczegóły">
                                            <svg class="cart">
                                                <use xlink:href="#cart"></use>
                                            </svg>
                                        </a>
                                        <a href="{{ path('product_show', {'id': product.id}) }}"
                                           class="btn btn-primary-big  btn-dark">
                                            <span>
                                                <svg class="wishlist">
                                                    <use xlink:href="{{ asset('fontawesome-free-7.1.0-web/sprites/solid.svg') }}#eye"></use>
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="swiper-slide">
                                <div class="card position-relative p-4 border rounded-3">
                                    <div class="text-center py-5">
                                        <p class="text-muted">{{ 'featured_products.no_products'|trans }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <section id="company-services" class="padding-large">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 pb-3">
                    <div class="icon-box d-flex">
                        <div class="icon-box-icon pe-3 pb-3">
                            <img src="{{ asset('images/price icon.png') }}" alt="Price">
                        </div>
                        <div class="icon-box-content">
                            <h4 class="card-title">{{ 'features.custom_pricing.title'|trans }}</h4>
                            <p>{{ 'features.custom_pricing.description'|trans }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 pb-3">
                    <div class="icon-box d-flex">
                        <div class="icon-box-icon pe-3 pb-3">
                            <img src="{{ asset('images/delivery icon.png') }}" alt="Delivery">
                        </div>
                        <div class="icon-box-content">
                            <h4 class="card-title">{{ 'features.delivery.title'|trans }}</h4>
                            <p>{{ 'features.delivery.description'|trans }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 pb-3">
                    <div class="icon-box d-flex">
                        <div class="icon-box-icon pe-3 pb-3">
                            <img src="{{ asset('images/project icon.png') }}" alt="Support">
                        </div>
                        <div class="icon-box-content">
                            <h4 class="card-title">{{ 'features.projects.title'|trans }}</h4>
                            <p>{{ 'features.projects.description'|trans }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 pb-3">
                    <div class="icon-box d-flex">
                        <div class="icon-box-icon pe-3 pb-3">
                            <img src="{{ asset('images/shipping icon.png') }}" alt="Shipping">
                        </div>
                        <div class="icon-box-content">
                            <h4 class="card-title">{{ 'features.order.title'|trans }}</h4>
                            <p>{{ 'features.order.description'|trans }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if galleryImages|length > 0 %}
        <section id="gallery" class="position-relative">
            <div class="container">
                <div class="section-title d-md-flex justify-content-between align-items-center mb-4">
                    <h3 class="d-flex align-items-center">Nasze realizacje</h3>
                </div>
                <div
                    class="position-absolute top-50 end-0 pe-0 pe-xxl-5 me-0 me-xxl-5 swiper-next product-slider-button-next">
                    <svg class="chevron-forward-circle d-flex justify-content-center align-items-center p-2" width="80"
                         height="80">
                        <use xlink:href="#alt-arrow-right-outline"></use>
                    </svg>
                </div>
                <div
                    class="position-absolute top-50 start-0 ps-0 ps-xxl-5 ms-0 ms-xxl-5 swiper-prev product-slider-button-prev">
                    <svg class="chevron-back-circle d-flex justify-content-center align-items-center p-2" width="80"
                         height="80">
                        <use xlink:href="#alt-arrow-left-outline"></use>
                    </svg>
                </div>
                <div class="swiper product-swiper">
                    <div class="swiper-wrapper">
                        {% for galleryImage in galleryImages %}
                            <div class="swiper-slide">
                                <div class="card position-relative p-4 border rounded-3">
                                    <div class="gallery-image-container">
                                        <img src="{{ asset('uploads/gallery/' ~ galleryImage.filename) }}"
                                             class="img-fluid shadow-sm" alt="Gallery image"
                                             style="aspect-ratio: 1/1; object-fit: cover;">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}



{% endblock %}
