{% extends 'base.html.twig' %}

{% block title %}{{ 'info.title'|trans }} - B2B Shop{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="mb-4">{{ 'info.contact_us'|trans }}</h1>

                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-12">

                                <p>{{ 'info.description'|trans }}</p>
                                <p class="pb-3">{{ 'info.description2'|trans }}</p>

                                <h3>{{ 'info.send_message'|trans }}</h3>

                                {% for message in app.flashes('success') %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        {{ message|trans }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                    </div>
                                {% endfor %}

                                {% for message in app.flashes('error') %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        {{ message|trans }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                    </div>
                                {% endfor %}

                                {{ form_start(infoForm) }}
                                    <div class="mb-3">
                                        {{ form_label(infoForm.name) }}
                                        {{ form_widget(infoForm.name) }}
                                        {{ form_errors(infoForm.name) }}
                                    </div>

                                    <div class="mb-3">
                                        {{ form_label(infoForm.email) }}
                                        {{ form_widget(infoForm.email) }}
                                        {{ form_errors(infoForm.email) }}
                                    </div>

                                    <div class="mb-3">
                                        {{ form_label(infoForm.subject) }}
                                        {{ form_widget(infoForm.subject) }}
                                        {{ form_errors(infoForm.subject) }}
                                    </div>

                                    <div class="mb-3">
                                        {{ form_label(infoForm.message) }}
                                        {{ form_widget(infoForm.message) }}
                                        {{ form_errors(infoForm.message) }}
                                    </div>

                                    {{ form_widget(infoForm.submit) }}
                                {{ form_end(infoForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
