<div id="cc-modal" class="cc-modal hidden" role="dialog" aria-modal="true" aria-labelledby="cc-modal-title">
  <div class="cc-modal-content">
    <h3 id="cc-modal-title">{{ 'consent.modal.title'|trans }}</h3>
    <p>{{ 'consent.modal.description'|trans }}</p>
    <form id="cc-form">
      <label class="cc-row">
        <span>{{ 'consent.modal.labels.necessary'|trans }}</span>
        <input type="checkbox" checked disabled>
      </label>
      <label class="cc-row">
        <span>{{ 'consent.modal.labels.analytics'|trans }}</span>
        <input type="checkbox" name="analytics">
      </label>
      <label class="cc-row">
        <span>{{ 'consent.modal.labels.personalization'|trans }}</span>
        <input type="checkbox" name="personalization">
      </label>
      <div class="cc-modal-actions">
        <button type="button" id="cc-cancel" class="cc-btn cc-btn-outline">{{ 'consent.modal.actions.cancel'|trans }}</button>
        <button type="submit" class="cc-btn cc-btn-accept">{{ 'consent.modal.actions.save'|trans }}</button>
      </div>
    </form>
  </div>
</div>
